@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  outline: 0 !important;
  text-decoration: none !important;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.32s ease-out;
  -moz-transition: all 0.32s ease-out;
  -o-transition: all 0.32s ease-out;
  transition: all 0.32s ease-out;
  outline: 0 !important;
  color: #fff;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
  /* color: #000; */
}

iframe,
img,
object {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  font-family: Rubik;
}

body {
  font-size: 16px;
  line-height: 1.6;
  overflow-x: hidden;
  color: #fff;
  /* color: #fff; */
  /* font-family: Poppins, sans-serif;
  font-family: Outfit, sans-serif;
  font-family: Pacifico, cursive;
  font-family: Rubik, sans-serif; */
  /* background-color: #fff; */
  background: #141414 !important;
  font-family: 'Manrope', sans-serif;
}

p {
  margin-bottom: 20px;
  color: #fff;
  font-weight: 300;
  margin: 0;
  font-family: Outfit;
}

html {
  -webkit-text-size-adjust: 100%;
}

section {
  overflow: hidden;
}




:root{
  --e-global-color-primary: #0C0918;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}



.vertical-marquee {
  overflow: hidden;
  height: 200px; /* Adjust the height as needed */
}

.marquee-content {
  animation: marquee 10s linear infinite; /* Adjust the duration as needed */
}

@keyframes marquee {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-100%);
  }
}


.slick-dots.slick-thumb {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slick-dots.slick-thumb li {
  width: 6px;
  height: 6px;
  margin: 0 3px;
  border-radius: 999px;
  transition: all 0.5s ease-in-out;
  will-change: width;
  background-color: black;
}

.slick-dots.slick-thumb li.slick-active {
  background-color: red;
  width: 24px;
}


/* Glocal Responsive */

.container {
  max-width: 1440px !important;
  padding: 0 65px !important;
}

@media only screen and (min-width: 1920px) {}

@media only screen and (max-width: 1580px) {
  .container {
    max-width: 1440px;
    padding: 0 65px;
  }
}
@media only screen and (max-width: 1190px) and (min-width: 768px) {
  .container {
    max-width: 1440px;
    padding: 0 65px;
  } 
}

@media only screen and (max-width: 767px) {
  .container {
    max-width: 1440px;
    padding: 0 30px;
  }
}