.imageS{
    margin: 10px 10px;
    /* width: 131px;
    height: 131px; */
}



@media only screen and (max-width: 1580px) {
    .imageS{
        margin: 10px 10px;
        width: 131px;
        height: 131px;
    }
    
  }
  
  /* Ipad pro CSS */
  @media (max-width: 1380px) and (min-width: 1350px) {
    @media (min-height: 1000px) and (max-height: 1030px) {}
  }
  
  /* Tab Media query */
  @media only screen and (max-width: 1190px) and (min-width: 768px) {
   
  }
  
  @media only screen and (max-width: 767px) {
   
  }
  
  @media only screen and (max-width: 340px) {}
  